name: Java CI with Maven

on:
  push:
    paths:
      - 'src/front/**'
  pull_request:
    paths:
      - 'src/front/**'

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: 19
        distribution: 'adopt'
    - name: Setup Maven
      run: |
        sudo apt-get update
        sudo apt-get install -y maven
    - name: Build with Maven
      run: mvn -f src/front/pom.xml clean verify