name: Build and Setup

on:
  push:
    branches:
      - main

jobs:
  build-and-setup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: 19
        distribution: 'adopt'
    - name: Setup Maven
      run: |
        sudo apt-get update
        sudo apt-get install -y maven
    - name: Build with Maven
      run: mvn -f src/front/pom.xml clean verify
    - name: Clean
      run: |
        cd src/front
        mvn clean
    - name: Install
      run: |
        cd src/front
        mvn install
    - name: Setup Virtual Environment
      run: |
        cd src/back
        if ! command -v python3 &> /dev/null; then
          curl -O https://www.python.org/ftp/python/3.9.0/Python-3.9.0.tgz
          tar -xzvf Python-3.9.0.tgz
          cd Python-3.9.0
          ./configure && make && sudo make install
          echo "PYTHON3_PATH=/usr/local/bin/python3" >> $GITHUB_ENV
        else
          echo "PYTHON3_PATH=$(which python3)" >> $GITHUB_ENV
        fi
        ${{ env.PYTHON3_PATH }} -m venv venv
        source venv/bin/activate && pip install -r requirements.txt
    - name: Install build module and build Python package
      run: |
        source src/back/venv/bin/activate
        ${{ env.PYTHON3_PATH }} -m pip install build
        ${{ env.PYTHON3_PATH }} -m build --sdist
